<section>
  <div class="modal-body">
     <form>
        <div class="modal-header-title">
           <h5> View User Details</h5>
           <span class="modal-container-close" (click)="modalRef.hide()"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
        </div>
        <div class="container modal-content-body">
           <div class="col-sm-12">
              <div class="row no-margin">                     
                    <div class="form-group form-group-sm col-md-12">
                       <div class="row">
                        <label class="col-sm-12 col-md-4 col-form-label text-lg-right lbl">Username:</label>
                        <div class="col-sm-12 col-md-8">
                           {{Info?.User_Name | titlecase}}
                        </div>
                       </div>
                    </div>
                    <div class="form-group form-group-sm col-md-12">
                      <div class="row">
                       <label class="col-sm-12 col-md-4 col-form-label text-lg-right lbl">Name:</label>
                       <div class="col-sm-12 col-md-8">
                          {{Info?.Name | titlecase}}
                       </div>
                      </div>
                   </div>
                   <div class="form-group form-group-sm col-md-12">
                    <div class="row">
                     <label class="col-sm-12 col-md-4 col-form-label text-lg-right lbl">Email ID:</label>
                     <div class="col-sm-12 col-md-8">
                        {{Info?.Email | titlecase}}
                     </div>
                    </div>
                   </div>
                   <div class="form-group form-group-sm col-md-12">
                    <div class="row">
                     <label class="col-sm-12 col-md-4 col-form-label text-lg-right lbl">Phone No:</label>
                     <div class="col-sm-12 col-md-8">
                        {{Info?.Phone | titlecase}}
                     </div>
                    </div>
                   </div>
                   <div class="form-group form-group-sm col-md-12">
                    <div class="row">
                     <label class="col-sm-12 col-md-4 col-form-label text-lg-right lbl">User Type:</label>
                     <div class="col-sm-12 col-md-8">
                        {{Info?.User_Type | titlecase}}
                     </div>
                    </div>
                   </div>
                   
                   <div class="form-group form-group-sm col-md-12">
                     <div class="row">
                      <label class="col-sm-12 col-md-4 col-form-label text-lg-right lbl">Created Date:</label>
                      <div class="col-sm-12 col-md-8">
                         {{Info?.createdAt | date: 'd-MMM-y, HH:mm'}}
                      </div>
                     </div>
                    </div>
                 </div>
           </div>               
        </div>
        <div class="modal-actions">          
           <button type="submit" (click)="modalRef.hide()" class="modal-confirm btns-modal-action fill-left-to-right" aria-label="">
             Close
           </button>
        </div>
     </form>   
  </div>
</section>