<section>
    <div class="card box-shadow">
        <div class="card-block">
            <div class="tabpane-title green-gr-background">
                <h5 class="section-title">Soldier Attendance</h5>
                <a class="create-button-btn animated fadeInDown" (click)="CreateAttendance()"
                    >Generate Attendance</a>
                <a class="create-icon-btn animated fadeInDown" (click)="CreateAttendance()" >
                    <i class="fa fa-plus"></i>
                </a>
            </div>
          
            <div class="row">
                <div class="col-sm-12 col-md-2">
                    <div class="table-entries-and-sortby">
                        <label>Limits
                            <mat-form-field class="full-width tbl-limits" [floatLabel]="'never'" appearance="fill">
                                <mat-select [(ngModel)]="LimitCount" (ngModelChange)="Pagination_Action(1)">
                                    <mat-option [value]="5">5</mat-option>
                                    <mat-option [value]="10">10</mat-option>
                                    <mat-option [value]="25">25</mat-option>
                                    <mat-option [value]="50">50</mat-option>
                                    <mat-option [value]="100">100</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </label>
                    </div>
                </div>

            </div>
            <div class="row no-margin">
                <div class="table-responsive">
                    <table #TableSection class="tbl-vilFresh" cellpadding="0" cellspacing="0" border="0">
                        <thead #TableHeaderSection>
                            <tr>
                                <th>S.No</th>
                                <th *ngFor="let Header of THeaders;let i=index">
                                    <div class="column-title">
                                        {{Header.Name}}
                                        <span *ngIf="Header.Key === 'DeliveryPerson_NameSort' || Header.Key === 'Mobile_Number' || Header.Key === 'DeliverylineNameSort'"  (click)="Short_Change(i)" >
                                            <i class="material-icons" 
                                                [ngClass]="{'active': Header.If_Short, 'rotateZ-A': Header.Condition === 'Descending' }">sort</i>
                                        </span>
                                    </div>
                                    <span *ngIf="Header.Key === 'TotalNoOfPresent' || Header.Key === 'TotalNoOfAbsent'" style="font-weight: 600; font-size: 10px; letter-spacing: 0.5px; opacity: 0.6;">
                                        (Current Month)
                                    </span>                                   
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <div class="table-up-arrow"><i class="fa fa-arrow-circle-up animated infinite fadeInUp"></i>
                        </div>
                        <tbody #TableBodySection class="tbl-content">
                            <ng-container *ngIf="CollectionDetails.length > 0">
                                <tr class="odd" *ngFor="let Collection of CollectionDetails;let i=index">
                                    <td>{{SerialNoAddOn+i+1}}</td>
                                    <td>{{Collection?.DeliveryPerson_Name}}</td>
                                    <td>{{Collection?.Mobile_Number}}</td>
                                    <td>{{Collection?.DeliveryLine?.Deliveryline_Name}}</td>
                                    <td>{{Collection?.TotalNoOfPresent}}</td>
                                    <td>{{Collection?.TotalNoOfAbsent}}</td>
                                    <td>
                                        <div class="action-icon-parent">
                                            <span class="col-action-icon bk-clr-info" matTooltip="View"
                                                (click)="ViewAttendance(i)"><i class="fa fa-eye"
                                                    aria-hidden="true"></i></span>
                                        </div>
                                    </td>
                                </tr>
                                <div class="table-down-arrow"><i
                                        class="fa fa-arrow-circle-down animated infinite fadeInDown"></i></div>
                            </ng-container>
                            <tr *ngIf="CollectionDetails.length === 0">
                                <td colspan="7"> No Records Found.... </td>
                            </tr>
                        </tbody>
                        <div #TableLoaderSection class="tbl-loading-center">
                            <div id="inTurnFadingTextG">
                                <div id="inTurnFadingTextG_1" class="inTurnFadingTextG">L</div>
                                <div id="inTurnFadingTextG_2" class="inTurnFadingTextG">O</div>
                                <div id="inTurnFadingTextG_3" class="inTurnFadingTextG">A</div>
                                <div id="inTurnFadingTextG_4" class="inTurnFadingTextG">D</div>
                                <div id="inTurnFadingTextG_5" class="inTurnFadingTextG">I</div>
                                <div id="inTurnFadingTextG_6" class="inTurnFadingTextG">N</div>
                                <div id="inTurnFadingTextG_7" class="inTurnFadingTextG">G</div>
                                <div id="inTurnFadingTextG_8" class="inTurnFadingTextG">.</div>
                                <div id="inTurnFadingTextG_9" class="inTurnFadingTextG">.</div>
                                <div id="inTurnFadingTextG_10" class="inTurnFadingTextG">.</div>
                            </div>
                        </div>
                    </table>
                </div>
            </div>
            <div class="pagination-wrapper margin-top-10">
                <div class="table-go-page-entries">
                    <label>Go page
                        <mat-form-field class="width-auto" style="padding: 0px 10px 0px 6px;">
                            <input matInput type="number" autocomplete="off" class="input-go-entries" min="1"
                                max="{{PagesArray.length}}" [(ngModel)]="GoToPage">
                        </mat-form-field>
                        <span class="go-search-entries  green-rgb-background" matTooltip="Go to Page"
                            (click)="Pagination_Action(GoToPage)">GO</span>
                    </label>
                </div>
                <div class="page-show-entires">
                    <div class="txt-show-records" [innerHTML]="ShowingText"></div>
                </div>
                <div class="page-number">
                    <ul class="pagination hidden-xs">
                        <li>
                            <a class="{{PagePrevious['Class']}}" (click)="Pagination_Action(PagePrevious['Value'])"
                                matTooltip="Previous">
                                <p><i class="fa fa-angle-double-left" aria-hidden="true"></i></p>
                            </a>
                        </li>
                        <li *ngFor="let Page of PagesArray; let i=index" class="{{Page.Class}}"
                            [ngClass]="{'active': Page.Active}" (click)="Pagination_Action(Page.Value)">
                            <a>
                                <p>{{Page.Text}}</p>
                            </a>
                        </li>
                        <li>
                            <a class="{{PageNext['Class']}}" (click)="Pagination_Action(PageNext['Value'])"
                                matTooltip="Next">
                                <p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
                            </a>
                        </li>
                    </ul>
                    <ul class="pagination visible-xs">
                        <li><a>
                                <p><i class="fa fa-angle-double-left" aria-hidden="true"></i></p>
                            </a></li>
                        <li><a>
                                <p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>