<section>
    <div class="tabpane-title green-gr-background">
           <h5 class="section-title">Product Configuration Management</h5>
           <a class="create-button-btn animated fadeInDown" (click)="Generate_Config()">Configure</a>
           <a class="create-icon-btn animated fadeInDown" (click)="Generate_Config()">
              <i class="fa fa-plus"></i>
           </a>
        </div> 
        <div class="card box-shadow">
            <div class="card-block">            
                  <div class="row">
                      <div class="col-sm-12 col-md-2">
                        <div class="table-entries-and-sortby">
                          <label>Limits
                             <mat-form-field class="full-width tbl-limits" [floatLabel]="'never'" appearance="fill">
                                <mat-select [(ngModel)]="LimitCount" (ngModelChange)="Pagination_Action(1)">
                                   <mat-option [value]="5">5</mat-option>
                                   <mat-option [value]="10">10</mat-option>
                                   <mat-option [value]="25">25</mat-option>
                                   <mat-option [value]="50">50</mat-option>
                                   <mat-option [value]="100">100</mat-option>
                                </mat-select>
                             </mat-form-field>
                          </label>
                        </div>                
                       </div> 
                       <div class="col-sm-12 col-sm-12 col-md-10">
                            <div class="filter-parent">
                               <ng-container *ngFor="let Filter of FiltersArray; let i=index" >
                                  <div *ngIf="Filter.Active" class="filter-result">
                                     <div class="filter-info">
                                        <span class="label"> {{Filter.DisplayName}} </span>
                                        <span *ngIf="Filter.Type === 'String' && Filter.Key === 'PO_Requested'" class="value"> {{ Filter.Value.PO_Requested === true ? 'Yes' : 'No'}} </span>
                                        <span *ngIf="Filter.Type !== 'Date' && Filter.Type !== 'Object'" class="value"> {{ (Filter.Value.length > 25) ? (Filter.Value | slice:0:25) + '..' : (Filter.Value) }} </span>
                                        <span *ngIf="Filter.Type === 'Date'" class="value"> {{ Filter.Value | date: 'd-MMM-y, HH:mm' }} </span>
                                       </div>
                                     <span class="Filter-close">
                                        <i class="fa fa-close" (click)="RemoveFilter(i)"></i>
                                     </span>
                                  </div>
                               </ng-container>
                               <div class="filter-icon" (click)="openFilterModal(template)"><span><i class="fa fa-filter" aria-hidden="true"></i></span></div>
                            </div>
                      </div>
                  </div>                         
                  <div class="row no-margin">
                      <div class="table-responsive">
                        <table #TableSection class="tbl-vilFresh" cellpadding="0" cellspacing="0" border="0">
                          <thead #TableHeaderSection>
                            <tr>
                                <th>S.No</th>
                                <th *ngFor="let Header of THeaders;let i=index">
                                <div class="column-title"> {{Header.Name}} 
                                    <span>
                                      <i class="material-icons" (click)="Short_Change(i)" [ngClass]="{'active': Header.If_Short, 'rotateZ-A': Header.Condition === 'Descending' }">sort</i>
                                    </span>
                                </div>
                                </th>
                                <th>Actions</th>
                            </tr>
                          </thead>   
                          <div class="table-up-arrow"><i class="fa fa-arrow-circle-up animated infinite fadeInUp"></i></div>  
                          <tbody #TableBodySection class="tbl-content">
                            <ng-container *ngIf="ConfigDetails.length > 0">
                              <tr class="odd" *ngFor="let Products of ConfigDetails;let i=index">
                                <td>{{SerialNoAddOn + i + 1}}</td>
                                <td>{{Products?.Config_Date | date: 'd-MMM-y'}}</td>
                                <td>{{Products?.Products?.length}}</td>
                                <td>{{Products?.PO_Requested === true ? 'Yes' : 'No'}}</td>
                                <td>{{Products?.Confirmed_Date | date: 'd-MMM-y'}}</td>
                                <td>{{Products?.updatedAt | date: 'd-MMM-y'}} </td>
                                <td>
                                <div class="action-icon-parent"> 
                                    <div *ngIf="Products?.Config_Enable === true">
                                        <span class="btn-add-plus" (click)="AddProducts(i)" ><i class="fa fa-plus"></i></span>                                    
                                    </div>
                                    <span class="col-action-icon bk-clr-info" matTooltip="View" (click)="ViewProducts(i)"><i class="fa fa-eye" aria-hidden="true"></i></span>         
                                    <!-- <span class="col-action-icon bk-clr-warning" matTooltip="Edit" (click)="ViewProducts(i)"><i class="fa fa fa-pencil" aria-hidden="true"></i></span>          -->
                               </div>
                                </td>
                              </tr>
                              <div class="table-down-arrow"><i class="fa fa-arrow-circle-down animated infinite fadeInDown"></i></div>  
                            </ng-container> 
                            <tr *ngIf="ConfigDetails.length === 0">
                              <td colspan="9"> No Records Found.... </td>
                            </tr>
                          </tbody>
    
                          <div #TableLoaderSection class="tbl-loading-center">
                            <div id="inTurnFadingTextG">
                                <div id="inTurnFadingTextG_1" class="inTurnFadingTextG">L</div>
                                <div id="inTurnFadingTextG_2" class="inTurnFadingTextG">O</div>
                                <div id="inTurnFadingTextG_3" class="inTurnFadingTextG">A</div>
                                <div id="inTurnFadingTextG_4" class="inTurnFadingTextG">D</div>
                                <div id="inTurnFadingTextG_5" class="inTurnFadingTextG">I</div>
                                <div id="inTurnFadingTextG_6" class="inTurnFadingTextG">N</div>
                                <div id="inTurnFadingTextG_7" class="inTurnFadingTextG">G</div>
                                <div id="inTurnFadingTextG_8" class="inTurnFadingTextG">.</div>
                                <div id="inTurnFadingTextG_9" class="inTurnFadingTextG">.</div>
                                <div id="inTurnFadingTextG_10" class="inTurnFadingTextG">.</div>
                            </div>
                          </div>  
                        </table>
                      </div>
                  </div>    
                   <div class="pagination-wrapper margin-top-10">
                      <div class="table-go-page-entries">
                         <label>Go page
                            <mat-form-field class="width-auto" style="padding: 0px 10px 0px 6px;">
                               <input matInput type="number" autocomplete="off" class="input-go-entries" min="1" max="{{PagesArray.length}}" [(ngModel)]="GoToPage">
                            </mat-form-field>
                               <span class="go-search-entries  green-rgb-background" matTooltip="Go to Page" (click)="Pagination_Action(GoToPage)" >GO</span>
                         </label>
                      </div>
                      <div class="page-show-entires">
                         <div class="txt-show-records" [innerHTML]="ShowingText"></div>
                      </div>
                      <div class="page-number">
                         <ul class="pagination hidden-xs">
                            <li>
                               <a class="{{PagePrevious['Class']}}" (click)="Pagination_Action(PagePrevious['Value'])" matTooltip="Previous">
                                  <p><i class="fa fa-angle-double-left" aria-hidden="true"></i></p>
                               </a>
                            </li>
                            <li *ngFor="let Page of PagesArray; let i=index" class="{{Page.Class}}" [ngClass]="{'active': Page.Active}" (click)="Pagination_Action(Page.Value)" > 
                               <a><p>{{Page.Text}}</p></a>
                            </li> 
                            <li>
                               <a class="{{PageNext['Class']}}" (click)="Pagination_Action(PageNext['Value'])" matTooltip="Next">
                                  <p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
                               </a>
                            </li>
                         </ul>
                         <ul class="pagination visible-xs">
                            <li><a ><p><i class="fa fa-angle-double-left" aria-hidden="true"></i></p></a></li>
                            <li><a ><p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p></a></li>
                         </ul>  
                      </div>                     
                  </div>
                </div>
          </div>  
</section>

<ng-template #template>
   <div class="modal-body">
       <div class="modal-header-title">
           <h5>Config Product Filters</h5>
           <span class="modal-container-close" (click)="modalReference.hide();"><i class="fa fa-times-circle"
             aria-hidden="true"></i></span>
       </div>
       <div class="container modal-content-body">
           <form [formGroup]="FilterFGroup">
               <div class="col-sm-12">
                   <div class="row">
                       <div class="form-group col-lg-6 col-md-12">
                           <div class="row">
                               <label class="col-sm-12 col-md-4 col-form-label text-lg-right">Config Date From</label>
                               <div class="col-sm-12 col-md-8">
                                   <mat-form-field class="full-width" [floatLabel]="'never'" appearance="fill">
                                       <input formControlName="Config_Date_From" (click)="Config_Date_From.open()"  matInput [matDatepicker]="Config_Date_From" placeholder="Config Date From">
                                       <mat-icon matSuffix >event</mat-icon>
                                       <mat-datepicker touchUi #Config_Date_From></mat-datepicker>
                                   </mat-form-field>
                               </div>
                           </div>
                       </div>
                       <div class="form-group col-lg-6 col-md-12">
                           <div class="row">
                               <label class="col-sm-12 col-md-4 col-form-label text-lg-right">Config Date To </label>
                               <div class="col-sm-12 col-md-8">                                    
                                   <mat-form-field class="full-width" [floatLabel]="'never'" appearance="fill">
                                       <input formControlName="Config_Date_To" (click)="Config_Date_To.open()"  matInput [matDatepicker]="Config_Date_To"  placeholder="Config Date To">
                                       <mat-icon matSuffix >event</mat-icon>
                                       <mat-datepicker touchUi #Config_Date_To></mat-datepicker>
                                   </mat-form-field>
                               </div>
                           </div>
                       </div>
                       <div class="form-group col-lg-6 col-md-12">
                           <div class="row">
                               <label class="col-sm-12 col-md-4 col-form-label text-lg-right">Confirmed Date From </label>
                               <div class="col-sm-12 col-md-8">                                    
                                   <mat-form-field class="full-width" [floatLabel]="'never'" appearance="fill">
                                       <input formControlName="Confirmed_Date_From" (click)="Confirmed_Date_From.open()"  matInput [matDatepicker]="Confirmed_Date_From"  placeholder="Confirmed Date From">
                                       <mat-icon matSuffix >event</mat-icon>
                                       <mat-datepicker touchUi #Confirmed_Date_From></mat-datepicker>
                                   </mat-form-field>
                               </div>
                           </div>
                       </div>
                       <div class="form-group col-lg-6 col-md-12">
                           <div class="row">
                               <label class="col-sm-12 col-md-4 col-form-label text-lg-right">Confirmed Date To </label>
                               <div class="col-sm-12 col-md-8">                                    
                                   <mat-form-field class="full-width" [floatLabel]="'never'" appearance="fill">
                                       <input formControlName="Confirmed_Date_To" (click)="Confirmed_Date_To.open()"  matInput [matDatepicker]="Confirmed_Date_To" placeholder="Confirmed Date To">
                                       <mat-icon matSuffix >event</mat-icon>
                                       <mat-datepicker touchUi #Confirmed_Date_To></mat-datepicker>
                                   </mat-form-field>
                               </div>
                           </div>
                       </div>
                       <div class="form-group col-lg-6 col-md-12">
                        <div class="row">
                           <label class="col-sm-12 col-md-4 col-form-label text-lg-right"> Purchase Generate Status</label>
                           <div class="col-sm-12 col-md-8">                           
                              <mat-form-field class="full-width" [floatLabel]="'never'" appearance="fill">
                                    <mat-select formControlName="PO_Requested" placeholder="Select Purchase Request">
                                       <mat-option>Select Your Status </mat-option>
                                       <mat-option *ngFor="let Request of PO_Request; let i=index" [value]="Request.Key">{{Request.Name}}</mat-option>
                                    </mat-select>
                              </mat-form-field>
                           </div>
                        </div>
                     </div>      
                   </div>
               </div>
           </form>
       </div>
       <div class="modal-actions">
           <button *ngIf="FilterFGroupStatus" type="button" (click)="ResetFilters()"
               class="modal-confirm btns-modal-action fill-right-to-left" aria-label="">Reset</button>
           <button type="button" [disabled]="!FilterFGroupStatus" [ngClass]="{'disabled': !FilterFGroupStatus}"
               (click)="SubmitFilters()" class="modal-confirm btns-modal-action fill-left-to-right"
               aria-label="">Search</button>
       </div>
   </div>
</ng-template>

