<!-- <div class="row no-margin">
   <div class="nav-container">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb pink lighten-2">
            <li class="breadcrumb-item">
               <a class="page-title">Home</a>
            </li>
            <li class="breadcrumb-item">
               <i class="fa fa-angle-right fa-6" aria-hidden="true"></i>
               <a class="page-title">User</a>
            </li>
            <li class="breadcrumb-item active">
               <i class="fa fa-angle-right fa-6" aria-hidden="true"></i>
               <a class="page-title">User-Records </a>
            </li>
         </ol>
      </nav>
   </div>
 </div>
  -->
 
 <section>
   <div class="card">
     <div class="card-block">
         <div class="tabpane-title"><h5>All User Records</h5></div>
         <div class="table-responsive">
           <div class="row no-margin">
                <div class="col-sm-12 col-md-2">
                 <div class="table-entries-and-sortby">
                   <label>Limits
                      <mat-form-field class="full-width tbl-limits" [floatLabel]="'never'" appearance="fill">
                         <mat-select [(ngModel)]="LimitCount" (ngModelChange)="Pagination_Action(1)">
                            <mat-option [value]="5">5</mat-option>
                            <mat-option [value]="10">10</mat-option>
                            <mat-option [value]="25">25</mat-option>
                            <mat-option [value]="50">50</mat-option>
                            <mat-option [value]="100">100</mat-option>
                         </mat-select>
                      </mat-form-field>
                   </label>
                 </div>                
                </div>
             
           </div>
                  
           <div class="row no-margin">
               <div class="col-md-12">
                 <table #TableSection class="tbl-vilFresh " cellpadding="0" cellspacing="0" border="0">
                   <thead #TableHeaderSection>
                     <tr>
                         <th>S.No</th>
                         <th *ngFor="let Header of THeaders;let i=index">
                         <div class="column-title"> {{Header.Name}} 
                             <span>
                               <i class="material-icons" (click)="Short_Change(i)" [ngClass]="{'active': Header.If_Short, 'rotateZ-A': Header.Condition === 'Descending' }">sort</i>
                             </span>
                         </div>
                         </th>
                         <th>Actions</th>
                     </tr>
                   </thead>   
                   <div class="table-up-arrow"><i class="fa fa-arrow-circle-up animated infinite fadeInUp"></i></div>  
                   <tbody #TableBodySection  class="tbl-content">
                     <ng-container *ngIf="UserDetails.length > 0">
                       <tr class="odd" *ngFor="let UserDetails of UserDetails;let i=index">
                         <td>{{i+1}}</td>
                         <td>{{UserDetails?._id}} </td>
                         <td>{{UserDetails?.User_Name}}</td>
                         <td>{{UserDetails?.Phone}}</td>
                         <td>{{UserDetails?.User_Type}} </td>
                         <td>
                         <div class="action-icon-parent">
                           <span class="col-action-icon bk-clr-warning" matTooltip="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                           <span class="col-action-icon bk-clr-danger" matTooltip="View"><i class="fa fa-eye" aria-hidden="true"></i></span>
                           <span class="col-action-icon bk-clr-default" matTooltip="Delete"><i class="fa fa-trash" aria-hidden="true"></i></span>
                         </div>
                         </td>
                       </tr>
                       <div class="table-down-arrow"><i class="fa fa-arrow-circle-down animated infinite fadeInDown"></i></div>  
                     </ng-container> 
                     <tr *ngIf="UserDetails.length === 0">
                       <td colspan="9"> No Records Found.... </td>
                     </tr>
                   </tbody>
                   <div #TableLoaderSection class="tbl-loading-center">
                     <div id="inTurnFadingTextG">
                         <div id="inTurnFadingTextG_1" class="inTurnFadingTextG">L</div>
                         <div id="inTurnFadingTextG_2" class="inTurnFadingTextG">O</div>
                         <div id="inTurnFadingTextG_3" class="inTurnFadingTextG">A</div>
                         <div id="inTurnFadingTextG_4" class="inTurnFadingTextG">D</div>
                         <div id="inTurnFadingTextG_5" class="inTurnFadingTextG">I</div>
                         <div id="inTurnFadingTextG_6" class="inTurnFadingTextG">N</div>
                         <div id="inTurnFadingTextG_7" class="inTurnFadingTextG">G</div>
                         <div id="inTurnFadingTextG_8" class="inTurnFadingTextG">.</div>
                         <div id="inTurnFadingTextG_9" class="inTurnFadingTextG">.</div>
                         <div id="inTurnFadingTextG_10" class="inTurnFadingTextG">.</div>
                     </div>
                   </div>  
                 </table>
               </div>
           </div>    
            <div class="pagination-wrapper">
               <div class="table-go-page-entries">
                  <label>Go page
                     <mat-form-field class="width-auto" style="padding: 0px 10px 0px 6px;">
                        <input matInput type="number" autocomplete="off" class="input-go-entries" min="1" max="{{PagesArray.length}}" [(ngModel)]="GoToPage">
                     </mat-form-field>
                        <span class="go-search-entries" matTooltip="Go to Page" (click)="Pagination_Action(GoToPage)" >GO</span>
                  </label>
               </div>
               <div class="page-show-entires">
                  <div class="txt-show-records" [innerHTML]="ShowingText"></div>
               </div>
               <div class="page-number">
                  <ul class="pagination hidden-xs">
                     <li>
                        <a class="{{PagePrevious['Class']}}" (click)="Pagination_Action(PagePrevious['Value'])" matTooltip="Previous">
                           <p><i class="fa fa-angle-double-left" aria-hidden="true"></i></p>
                        </a>
                     </li>
                     <li *ngFor="let Page of PagesArray; let i=index" class="{{Page.Class}}" [ngClass]="{'active': Page.Active}" (click)="Pagination_Action(Page.Value)" > 
                        <a><p>{{Page.Text}}</p></a>
                     </li> 
                     <li>
                        <a class="{{PageNext['Class']}}" (click)="Pagination_Action(PageNext['Value'])" matTooltip="Next">
                           <p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
                        </a>
                     </li>
                  </ul>
                  <ul class="pagination visible-xs">
                     <li><a ><p><i class="fa fa-angle-double-left" aria-hidden="true"></i></p></a></li>
                     <li><a ><p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p></a></li>
                  </ul>  
               </div>                     
           </div>   
       </div>
     </div>
   </div>  
 </section>
