<section>
    <div class="card box-shadow"> 
          <div class="card-block">
               <div class="tabpane-title green-gr-background">
                  <!-- <h5 class="section-title">Daily Collection Amount <span class="text-date-time">( {{ AssignDate | date: 'd/MMM/y'}} )</span> </h5>                -->
                  <h5 class="section-title">Daily Collection Amount </h5>
                </div> 
               <div class="row"> 
                 <div class="col-sm-12 col-md-2">
                     <div class="table-entries-and-sortby">
                         <label>Limits
                             <mat-form-field class="full-width tbl-limits" [floatLabel]="'never'" appearance="fill">
                                 <mat-select [(ngModel)]="LimitCount" (ngModelChange)="Pagination_Action(1)">
                                     <mat-option [value]="5">5</mat-option>
                                     <mat-option [value]="10">10</mat-option>
                                     <mat-option [value]="25">25</mat-option>
                                     <mat-option [value]="50">50</mat-option>
                                     <mat-option [value]="100">100</mat-option>
                                 </mat-select>
                             </mat-form-field>
                         </label>
                     </div>
                 </div>
                 <div class="col-sm-12 col-sm-12 col-md-10">
                     <div class="filter-parent">
                         <ng-container *ngFor="let Filter of FiltersArray; let i=index">
                             <div *ngIf="Filter.Active" class="filter-result">
                                 <div class="filter-info">
                                     <span class="label"> {{Filter.DisplayName}} </span>
                                     <span *ngIf="Filter.Type === 'Object' && Filter.Key === 'Delivery_Line'" class="value"> {{ Filter.Value.Deliveryline_Name }} </span>  
                                     <span *ngIf="Filter.Type === 'String' && Filter.Key === 'Customer_name'" class="value"> {{ Filter.Value.Customer_Name }} </span>  
                                     <span *ngIf="Filter.Type === 'String' && Filter.Key === 'Mobile_Number'" class="value"> {{ Filter.Value.Mobile_Number }} </span>  
                                     <span *ngIf="Filter.Type === 'String' && Filter.Key === 'Collection_Status'" class="value"> {{ Filter.Value.Collection_Status }} </span>
                                     <span *ngIf="Filter.Type === 'Date'" class="value"> {{ Filter.Value | date: 'd-MMM-y, HH:mm' }} </span>
                                 </div>
                                 <span class="Filter-close">
                                    <i class="fa fa-close" (click)="RemoveFilter(i)"></i>
                                 </span>
                             </div>
                         </ng-container>
                         <div class="filter-icon" (click)="openFilterModal(template)"><span><i class="fa fa-filter" aria-hidden="true"></i></span></div>
                     </div>
                 </div>
             </div>
                 <div class="row no-margin">
                     <div class="table-responsive">
                       <table #TableSection class="tbl-vilFresh" cellpadding="0" cellspacing="0" border="0">
                         <thead #TableHeaderSection>
                           <tr>
                               <th>S.No</th>
                               <th *ngFor="let Header of THeaders;let i=index">
                               <div class="column-title"> {{Header.Name}}
                                  <span>
                                    <i class="material-icons" (click)="Short_Change(i)" [ngClass]="{'active': Header.If_Short, 'rotateZ-A': Header.Condition === 'Descending' }">sort</i>
                                  </span>
                               </div>
                               </th>
                               <th>Actions</th>                             
                           </tr>
                         </thead>   
                         <div class="table-up-arrow"><i class="fa fa-arrow-circle-up animated infinite fadeInUp"></i></div>  
                         <tbody #TableBodySection class="tbl-content">
                           <ng-container *ngIf="CollectionDetails.length > 0">
                             <tr class="odd" *ngFor="let Collection of CollectionDetails;let i=index">
                               <td>{{SerialNoAddOn+i+1}}</td>
                               <td>{{Collection?.CustomerInfo?.Customer_Name}}</td>
                               <td>{{Collection?.CustomerInfo?.Mobile_Number}}</td>
                               <td>{{Collection?.DeliveryPersonInfo?.DeliveryPerson_Name}}</td>
                               <td>{{Collection?.DeliverylineInfo?.Deliveryline_Name}}</td>
                               <td> <span> Rs. </span> {{Collection?.Collection_Amount}}</td>
                               <td *ngIf="Collection?.Collection_Status  === 'Pending'" style="color: blue;"> {{Collection?.Collection_Status}}</td>    
                               <td *ngIf="Collection?.Collection_Status  === 'Rejected'" style="color:red;"> {{Collection?.Collection_Status}}</td>    
                               <td *ngIf="Collection?.Collection_Status  === 'Approved'" style="color:green;"> {{Collection?.Collection_Status}}</td> 
                               <td *ngIf="Collection?.Collection_Status  === 'OnHold'" style="color:brown"> {{Collection?.Collection_Status}}</td>    

                               <td> {{Collection?.createdAt | date: 'd/MMM/y'}} </td>
                               <td>
                                <div class="action-icon-parent">
                                    <span *ngIf="Collection?.Collection_Status === 'Pending' ||  Collection?.Collection_Status === 'OnHold'"
                                        class="col-action-icon bk-clr-success" (click)="CollectionApprove(i)"
                                        matTooltip="Click to Approve"><i class="fa fa-check"
                                            aria-hidden="true"></i></span>
                                    <span *ngIf="Collection?.Collection_Status === 'Pending'"
                                        class="col-action-icon bk-clr-danger" (click)="Collection_OnHold(i)"
                                        matTooltip="Click to Hold"><i class="fa fa-ban"
                                            aria-hidden="true"></i></span>     
                                    <span class="col-action-icon bk-clr-info" matTooltip="View" (click)="ViewCollection(i)"><i class="fa fa-eye"  aria-hidden="true"></i></span>                        
                                    <!-- <span class="col-action-icon bk-clr-info" matTooltip="View"
                                        (click)="ViewCollectionn(i)"><i class="fa fa-eye"
                                            aria-hidden="true"></i></span> -->
                                </div> 
                            </td>                      
                             </tr>
                             <div class="table-down-arrow"><i class="fa fa-arrow-circle-down animated infinite fadeInDown"></i></div>  
                           </ng-container> 
                           <tr *ngIf="CollectionDetails.length === 0">
                             <td colspan="7"> No Records Found.... </td>
                           </tr>
                         </tbody>  
                         <div #TableLoaderSection class="tbl-loading-center">
                           <div id="inTurnFadingTextG">
                               <div id="inTurnFadingTextG_1" class="inTurnFadingTextG">L</div>
                               <div id="inTurnFadingTextG_2" class="inTurnFadingTextG">O</div>
                               <div id="inTurnFadingTextG_3" class="inTurnFadingTextG">A</div>
                               <div id="inTurnFadingTextG_4" class="inTurnFadingTextG">D</div>
                               <div id="inTurnFadingTextG_5" class="inTurnFadingTextG">I</div>
                               <div id="inTurnFadingTextG_6" class="inTurnFadingTextG">N</div>
                               <div id="inTurnFadingTextG_7" class="inTurnFadingTextG">G</div>
                               <div id="inTurnFadingTextG_8" class="inTurnFadingTextG">.</div>
                               <div id="inTurnFadingTextG_9" class="inTurnFadingTextG">.</div>
                               <div id="inTurnFadingTextG_10" class="inTurnFadingTextG">.</div>
                           </div>
                         </div>  
                       </table>
                     </div>
                 </div>  
                 <div class="pagination-wrapper margin-top-10">
                   <div class="table-go-page-entries">
                       <label>Go page
                           <mat-form-field class="width-auto" style="padding: 0px 10px 0px 6px;">
                               <input matInput type="number" autocomplete="off" class="input-go-entries" min="1"
                                   max="{{PagesArray.length}}" [(ngModel)]="GoToPage">
                           </mat-form-field>
                           <span class="go-search-entries  green-rgb-background" matTooltip="Go to Page"
                               (click)="Pagination_Action(GoToPage)">GO</span>
                       </label>
                   </div>
                   <div class="page-show-entires">
                       <div class="txt-show-records" [innerHTML]="ShowingText"></div>
                   </div>
                   <div class="page-number">
                       <ul class="pagination hidden-xs">
                           <li>
                               <a class="{{PagePrevious['Class']}}" (click)="Pagination_Action(PagePrevious['Value'])"
                                   matTooltip="Previous">
                                   <p><i class="fa fa-angle-double-left" aria-hidden="true"></i></p>
                               </a>
                           </li>
                           <li *ngFor="let Page of PagesArray; let i=index" class="{{Page.Class}}"
                               [ngClass]="{'active': Page.Active}" (click)="Pagination_Action(Page.Value)">
                               <a>
                                   <p>{{Page.Text}}</p>
                               </a>
                           </li>
                           <li>
                               <a class="{{PageNext['Class']}}" (click)="Pagination_Action(PageNext['Value'])"
                                   matTooltip="Next">
                                   <p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
                               </a>
                           </li>
                       </ul>
                       <ul class="pagination visible-xs">
                           <li><a>
                               <p><i class="fa fa-angle-double-left" aria-hidden="true"></i></p>
                               </a></li>
                           <li><a>
                               <p><i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
                           </a></li>
                       </ul>
                   </div>
               </div>
             </div>
         </div>  
</section> 
 
 <ng-template #template>
    <div class="modal-body">
       <div class="modal-header-title">
          <h5>Collection Amount Filters</h5>
          <span class="modal-container-close" (click)="modalReference.hide();"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
       </div>
       <div class="container modal-content-body">
          <form [formGroup]="FilterFGroup">
                <div class="col-sm-12">
                   <div class="row">     
                      <div class="form-group col-lg-6 col-md-12">
                         <div class="row">
                            <label class="col-sm-12 col-md-4 col-form-label text-lg-right">Customer Name</label>
                            <div class="col-sm-12 col-md-8"> 
                               <mat-form-field class="full-width" [floatLabel]="'never'" appearance="fill">
                                  <input matInput formControlName="Customer_Name"  placeholder="Customer" (blur)="AutocompleteBlur('Customer_Name')">  
                                  <mat-error [innerHTML]="GetFormControlErrorMessage('Customer_Name')"></mat-error>                               
                               </mat-form-field>
                            </div>
                         </div>
                      </div>             
                      <div class="form-group col-lg-6 col-md-12">
                         <div class="row">
                            <label class="col-sm-12 col-md-4 col-form-label text-lg-right">Mobile Number</label>
                            <div class="col-sm-12 col-md-8">
                                <mat-form-field class="full-width" [floatLabel]="'never'" appearance="fill" (blur)="AutocompleteBlur('Mobile_Number')">
                                  <input matInput formControlName="Mobile_Number"  placeholder="Mobile Number" >
                                  <mat-error [innerHTML]="GetFormControlErrorMessage('Mobile_Number')"></mat-error> 
                               </mat-form-field>
                            </div>
                         </div>
                      </div>                   
                      <div class="form-group col-lg-6 col-md-12">
                            <div class="row">
                               <label class="col-sm-12 col-md-4 col-form-label text-lg-right">Delivery Line</label>
                               <div class="col-sm-12 col-md-8">
                                  <mat-form-field class="full-width" [floatLabel]="'never'" appearance="fill">
                                     <input matInput formControlName="Delivery_Line" [matAutocomplete]="DeliverylineAutocomplete" placeholder="Delivery Line" (blur)="AutocompleteBlur('Delivery_Line')">
                                     <mat-autocomplete #DeliverylineAutocomplete="matAutocomplete" [displayWith]="DeliverylineDisplayName">
                                        <mat-option *ngFor="let Delivery_Line of filteredDeliveryList | async" [value]="Delivery_Line"> {{Delivery_Line.Deliveryline_Name}} </mat-option>
                                     </mat-autocomplete>
                                  </mat-form-field>
                               </div>
                            </div>
                      </div>
                      <div class="form-group col-lg-6 col-md-12">
                        <div class="row">
                            <label class="col-sm-12 col-md-4 col-form-label text-lg-right">Collection Status</label>
                            <div class="col-sm-12 col-md-8">                          
                                <mat-form-field class="full-width" [floatLabel]="'never'" appearance="fill">
                                    <mat-select formControlName="Collection_Status" placeholder="Select Collection Status">
                                        <mat-option>Select Your Status </mat-option>
                                        <mat-option *ngFor="let Status of Collection_Status; let i=index" [value]="Status.Key">{{Status.Name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                   </div>
                </div>
          </form>
       </div>
       <div class="modal-actions">
          <button *ngIf="FilterFGroupStatus" type="button" (click)="ResetFilters()" class="modal-confirm btns-modal-action fill-right-to-left" aria-label="">Reset</button>
          <button type="button" [disabled]="!FilterFGroupStatus" [ngClass]="{'disabled': !FilterFGroupStatus}" (click)="SubmitFilters()" class="modal-confirm btns-modal-action fill-left-to-right" aria-label="">Search</button>
       </div>
    </div>
 </ng-template> 
 